{% extends 'base.html'  %}
{%  block content  %}
{% include 'nav.html' %}

<section class="comment mt-5">
    {% if messages   %}
    {%  for message in messages  %}
           {% if message.tags == 'success'  %}
           <script >
                 swal({
                    title:"supprimé",
                    text:"{{message}}",
                    icon:"success"
                 })      
           </script>
           {%else%}
           <script >
            swal({
               title:"{{message}}",
               text:"",
               icon:"error"
            })      
      </script>
  
          {%endif%}
                       
  {%endfor%}
  {% endif %}
    <div class="section-header mt-3">
        <!-- <h1>commentaire</h1> -->
        <p></p>
    </div>
    <div class="question">
        <!-- <div class="img-section">
            <img src="/static/assets/img/comments-1.jpg">
        </div> -->
        <div class="section-question" style="color: rgb(70, 69, 69);font-weight: bold;">
            <h4> information </h4>
            <p >
              {{ info.body|safe }}
            </p>
        </div>
  
    </div>
    <div class="section-coment">
        <div class="info-comment">
            <h3>{{listcom.count}} commentaires</h3>
        </div>
        <div class="info-member-comment">
          {% for list in listcom  %}
            <div class="info-member-comment-name">
                <!-- <div  class="info-img"><img src="/static/assets/img/comments-1.jpg"></div> -->
                <div class="info">
                    <h5> {{list.user.last_name}} {{list.user.first_name}}
                      {% if list.user == request.user or request.user.is_superuser%}
                        <a href="{% url 'comment:delete' int_com=list.pk %}">
                            <i class="bx bxs-trash"></i>
                        </a>
                        <!-- <a href="#">                                
                            <i class="bx bxs-share"></i>
                        </a> -->
                      {%endif%}
                    </h5>
                    <time datetime="2020-01-01"><i class="bx bxs-time-five"></i> {{list.date}}  </time>
                    <p style="color: rgb(70, 69, 69);font-weight: bold;">{{ list.body }}</p>
                </div>
            </div>
          {% endfor%}
        </div>
        <div class="comment-form">
            <h4>Commenter</h4>
            <form method="POST" action="">
              {%csrf_token%}
                <div>
                  {{form.as_p}}
                </div>
                <div>
                    <button type="submit">commenter</button> 
                </div>                  
            </form>
        </div>
    </div>
  </section>


{% include 'footer.html' %}
{% endblock  %}