{% extends 'base.html'  %}
{%  block content  %}
{% include 'nav.html' %}
<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mt-5 alert alert-info fw-bold" style="background:#52b8c5; color: #fff;">
            <p> Mots de passe réunitialiser avec success
            </p>
            <a  href="{% url 'connex:log'   %}"  class="btn btn-primary mt-2 fw-bold"  style="background: #e96b56;">Connexion</a>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock  %}