{% extends 'base.html'  %}
{%  block content  %}
{% include 'nav.html' %}

<section class="login mt-5">
    {% if messages  %}
    {%  for message in messages  %}
         <div class="alert alert-danger text-center "> {{message}} </div>
    {%endfor%}
    {% endif %} 
    <div class="section-log">
        <div class="form login">
            <span class="title">Changer Votre Mot de passe</span>
            <form action="" method="POST">
                {%csrf_token%}
                <div class="section-input">
                    {{ form.new_password1 }}
                    <i class="bx bx-key icon"></i>
                    <i class="bx bxs-show vision"></i>
                </div>
                {% if form.new_password1.errors  %}
                {% for error in form.new_password1.errors   %}
                <p style="margin-top: 1rem;"><span style="color: red;margin-top: 16px;">{{error}}</span></p>               
                {%endfor%}
                {%endif%}

                <div class="section-input">
                    {{ form.new_password2 }}
                    <i class="bx bx-key icon"></i>
                    <i class="bx bxs-show vision"></i>
                </div>
                {% if form.new_password2.errors  %}
                {% for error in form.new_password2.errors   %}
                <p style="margin-top: 1rem;"><span style="color: red;margin-top: 16px;">{{error}}</span></p> 
                {%endfor%}
                {%endif%}
                <div class="checkbox">           
                </div>
                <div class="section-input submit-butom">
                    <input type="submit" value="Confirmer">
                </div>
            </form>

        </div>
    </div>
</section>



{% include 'footer.html' %}
{% endblock  %}