{% extends 'base.html'  %}
{%  block content  %}
{% include 'nav.html' %}

<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mt-5 alert alert-info fw-bold" style="background:#52b8c5; color: #fff;">
            <p> Nous vous avons envoyé par courriel les instructions pour changer votre mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée.
                Vous devriez recevoir rapidement ce message.
                Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de Courriels.
            </p>
        </div>
    </div>
</section>



{% include 'footer.html' %}
{% endblock  %}