{% extends 'base.html'  %}
{%  block content  %}
{% include 'nav.html' %}

<section class="login mt-5">
    <script >
        swal({
           
           text:"Renseignez votre adresse mail utiliser lors de la création de votre compte pour réinitialiser votre mot de passe",
           icon:"warning"
        })      
  </script>
    <div class="section-log">
        <div class="form login">
            <span class="title">Password Reset</span>
            <form action="" method="POST" >
                {%csrf_token%}
                <div class="section-input">
                    {{ form.email }} 
                    <i class="bx bxs-envelope icon"></i>
                </div>
                <div class="section-input submit-butom">
                    <input type="submit" value="Confirmer l'envoi">
                </div>
            </form>
            <div class="register">
                <span>Vous débuter sur Z_aide? <a href="{% url 'connex:register'   %}"> S'inscrire</a></span>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% endblock  %}