{% extends 'base.html'  %}
{% load static %}
{%  block content  %}
{% include 'nav.html' %}

<section class="login mt-5">
    {% if messages  %}
    {%  for message in messages  %}
         <div class="alert alert-danger text-center "> {{message}} </div>
    {%endfor%}
    {% endif %} 
    <div class="section-log">
        <div class="form login">
            <span class="title">Changer Votre Mot de passe</span>
            <i class='bx bx-error' style="color: rgb(155, 155, 3); font-size: 22px;" data-bs-toggle="modal" data-bs-target="#e"></i>
            <form action="" method="POST">
                {%csrf_token%}
                <div class="section-input">
                    {{ form.old_password }}
                    <i class="bx bxs-lock-alt icon"></i>
                    <i class="bx bxs-show vision"></i>
                </div>
                {% if form.old_password.errors  %}
                {% for error in form.old_password.errors   %}
                  <p style="margin-top: 1rem;"><span style="color: red;">{{error}}</span></p>
                {%endfor%}
                {%endif%}

                <div class="section-input">
                    {{ form.new_password1 }}
                    <i class="bx bx-key icon"></i>
                    <i class="bx bxs-show vision"></i>
                </div>
                {% if form.new_password1.errors  %}
                {% for error in form.new_password1.errors   %}
                <p style="margin-top: 1rem;"><span style="color: red;margin-top: 16px;">{{error}}</span></p>               
                {%endfor%}
                {%endif%}

                <div class="section-input">
                    {{ form.new_password2 }}
                    <i class="bx bx-key icon"></i>
                    <i class="bx bxs-show vision"></i>
                </div>
                {% if form.new_password2.errors  %}
                {% for error in form.new_password2.errors   %}
                <p style="margin-top: 1rem;"><span style="color: red;margin-top: 16px;">{{error}}</span></p> 
                {%endfor%}
                {%endif%}
                <div class="checkbox">
                    <!-- <div class="checkbox-content">
                        <input type="checkbox" id="check">
                        <label for="check" class="text">Remenber me</label>
                    </div>  -->                   
                </div>
                <div class="section-input submit-butom">
                    <input type="submit" value="Confirmer">
                </div>
            </form>
            <!-- <div class="register">
                <span>Vous débuter sur Z_aide? <a href="#"> S'inscrire</a></span>
            </div> -->
        </div>
    </div>
</section>
<div class="modal  consignes" id="e" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content ">
        <div class="modal-header ">
          <h5 class="modal-title titre" id="exampleModalLabel">Consigne</h5>
          <!-- <i class='bx bx-x-circle'></i> -->
          <button type="button" class="bx bx-x" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-confirm">
            <div class="consigne">
                <ul>
                    <li><i class='bx bxs-check-circle'></i>Le mot de passe doit etre diifferent de l'ancien mots de passe</li>
                    <li><i class='bx bxs-check-circle'></i> Le mot de passe doit contenire  </li>  
                    <!-- <li><i class='bx bxs-check-circle'></i> Vous n'êtes pas obligé de répondre toutes les questions.</li>
                    <li><i class='bx bxs-check-circle'></i> Prenez le temps de lire attentivement  les questions avant de répondre.</li> 
                    <li><i class='bx bxs-check-circle'></i> Prenez le temps également de lire les détails du  quiz avant de commencer.</li>                    -->
                </ul>
            </div>  
            <!-- <div class="image">
                <img src="/static/assets/img/consigne.png">
            </div>      -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">J'ai compris!</button>
          <!-- <a type="button" class="btn btn-success" id=star href="">Oui</a> -->
        </div>
      </div>
    </div>
</div> 

{% include 'footer.html' %}
{% endblock  %}
